:root {
  --color1: #141414;
  --color2: #fff;
  --color3: #4899d4;
  --color4: #e51e25;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  font-size: 62.5%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color1);
  color: var(--color2);
  font-size: 1.6rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  color: var(--color3);
  text-align: center;
}

.container {
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-title {
  padding: 20px 10px;
}

nav a {
  margin-left: 10px;
  color: var(--color2);
}

nav a:hover {
  color: var(--color3);
}

#main-movie {
  background-image: url("../images/main/movie1.jpg");
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(black)), url("../images/main/movie1.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), black), url("../images/main/movie1.jpg") no-repeat center;
  background-size: cover;
}

#main-movie .container {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px 50px;
}

#main-movie .movie-title,
#main-movie .movie-description {
  max-width: 40%;
}

#main-movie .movie-description {
  margin-bottom: 40px;
}

#main-movie .movie-actions button {
  border-radius: 3px;
  padding: 10px;
  border: none;
  min-width: 175px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color2);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

#main-movie .movie-actions button i {
  margin-right: 10px;
}

#main-movie .movie-actions button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

#main-movie .movie-actions button:last-of-type {
  margin-left: 10px;
}

.movie-title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.movie-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
  margin-bottom: 25px;
}

.movie-details .movie-stars,
.movie-details .movie-year,
.movie-details .movie-age {
  margin-right: 20px;
}

.movie-details .movie-stars li {
  display: inline-block;
}

.movie-details .movie-age {
  padding: 5px 8px;
  border-radius: 3px;
}

.movie-details .movie-age-adult {
  background-color: var(--color4);
}

.movie-details .movie-age-infant {
  background-color: springgreen;
}

.owl-carousel .item {
  position: relative;
  overflow: hidden;
}

.owl-carousel .item a {
  text-transform: none;
  color: var(--color2);
}

.owl-carousel .item a .item-movie-info {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  color: var(--color2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.owl-carousel .item a .item-movie-info:hover {
  opacity: 1;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.owl-carousel .item a .item-movie-info .movie-title {
  font-size: 2rem;
  text-transform: inherit;
}

.owl-carousel .item a .item-movie-info .movie-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 0;
  padding-top: 0;
}

.owl-carousel .item a .item-movie-info .movie-details * {
  margin-right: 0;
  margin-bottom: 10px;
}

.owl-carousel .item a .item-movie-info .movie-details li {
  margin-bottom: 0;
}

.owl-carousel .item a .item-movie-info .movie-details .movie-time {
  margin-bottom: 0;
}

.owl-carousel .item a img {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.owl-carousel .item a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
/*# sourceMappingURL=main.css.map */