:root {
    --color1: #141414;
    --color2: #fff;
    --color3: #4899d4;
    --color4: #e51e25;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html, body {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color1);
    color: var(--color2);
    font-size: 1.6rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
}

.logo {
    color: var(--color3);
    text-align: center;
}

.container {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-title {
    padding: 20px 10px;
}

nav {
    a {
        margin-left: 10px;
        color: var(--color2);

        &:hover {
            color: var(--color3)
        }
    }
}

#main-movie {
    background-image: url('../images/main/movie1.jpg');
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 1)), url('../images/main/movie1.jpg') no-repeat center;
    background-size: cover;
    
    .container {
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 25px 50px;
    }

    .movie-title,
    .movie-description {
        max-width: 40%;
    }

    .movie-description {
        margin-bottom: 40px;
    }

    .movie-actions {

        button {
            border-radius: 3px;
            padding: 10px;
            border: none;
            min-width: 175px;
            cursor: pointer;
            background-color: rgba(255, 255, 255, .1);
            color: var(--color2);
            transition: all .2s linear;

            i {
                margin-right: 10px;
            }

            &:hover {
                background-color: rgba(255, 255, 255, .3);
                transition: all .2s linear;
            }

            &:last-of-type {
                margin-left: 10px;
            }
        }
    }
}


.movie-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 2px;
    margin-bottom: 15px;
}


.movie-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 0;
    margin-bottom: 25px;

    .movie-stars,
    .movie-year,
    .movie-age {
        margin-right: 20px;
    }
    
    .movie-stars {
        
        li {
            display: inline-block;
        }
    }

    .movie-age {
        padding: 5px 8px;
        border-radius: 3px;
    }

    .movie-age-adult {
        background-color: var(--color4);
    }

    .movie-age-infant {
        background-color: springgreen;
    }
}

.owl-carousel {

    .item {
        position: relative;
        overflow: hidden;

        a {
            text-transform: none;
            color: var(--color2);

            .item-movie-info {
                background-color: rgba(0, 0, 0, .85);
                padding: 20px;
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 10;
                color: var(--color2);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: all .2s linear;

                &:hover {
                    opacity: 1;
                    transition: all .2s linear;
                }

                .movie-title {
                    font-size: 2rem;
                    text-transform: inherit;
                }

                .movie-details {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-bottom: 0;
                    padding-top: 0;

                    * {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }

                    li {
                        margin-bottom: 0;
                    }

                    .movie-time {
                        margin-bottom: 0;
                    }
                }
            }

            img {
                transition: all .2s linear;
            }

            &:hover {

                img {
                    transform: scale(1.1);
                    transition: all .2s linear;
                }
                
            }
        }
    }
}